extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'This is comments index.pug';
        var myDescription = 'this is a W3 replica';
        var landingPage = 'JavaScript';
        var activeLink = '/javascript/comments';
block awesome-content
    h1=myTitle
    p=myDescription
    h2 JavaScript Comments
    p anything 
    p content