extends ../_component/layout/template

block cool-config
    -
        var myTitle = 'This is html index.pug';
        var myDescription = 'this is a W3 replica';
        var landingPage = 'HTML';
        var activeLink = '';
block awesome-content
    h1=myTitle
    p=myDescription
    h2 HTML elements
    p anything
    h2 HTML attributes
    p anything 
    h2 HTML headings
    p anything