extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'This is attributes index.pug';
        var myDescription = 'this is a W3 replica';
        var landingPage = 'HTML';
        var activeLink = '/html/attributes';
block awesome-content
    h1=myTitle
    p=myDescription
    h2 HTML Attributes
    p anything 
    p content