extends ../_component/layout/template

block cool-config
    -
        var myTitle = 'This is JavaScript index.pug';
        var myDescription = 'this is a W3 replica';
        var landingPage = 'JavaScript';
        var activeLink = '';
block awesome-content
    h1=myTitle
    p=myDescription
    h2 JavaScript variables
    p anything
    h2 JavaScript comments
    p anything 
    h2 JavaScript operators
    p anything