extends ../_component/layout/template

block cool-config
    -
        var myTitle = 'This is css index.pug';
        var myDescription = 'this is a W3 replica';
        var landingPage = 'CSS';
        var activeLink = '';
block awesome-content
    h1=myTitle
    p=myDescription
    h2 CSS colors
    p anything
    h2 CSS backgrounds
    p anything 
    h2 CSS borders
    p anything