extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'This is backgrounds index.pug';
        var myDescription = 'this is a W3 replica';
        var landingPage = 'CSS';
        var activeLink = '/css/backgrounds';
block awesome-content
    h1=myTitle
    p=myDescription
    h2 CSS Backgrounds
    p anything 
    p content