extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'This is headings index.pug';
        var myDescription = 'this is a W3 replica';
        var landingPage = 'HTML';
        var activeLink = '/html/headings';
block awesome-content
    h1=myTitle
    p=myDescription
    h2 HTML Headings
    p anything 
    p content