extends _component/layout/template

block cool-config
    -
        var myTitle = 'This is practice.1';
        var myDescription = 'this is a W3 replica';
        var landingPage = 'Home';
        var activeLink = '';
block awesome-content
    h1 This is a replica of w3
    p anything
    h2 HTML
    p anything #[a(href="/html") check it out!]
    h2 CSS
    p anything #[a(href="css") check it out!]
    h2 JavaScript
    p anything #[a(href="js") check it out!]