doctype html
html
    head
        title This is practice.1
        meta(name="description", content="this is a HTML replica")
        link(rel="stylesheet", href="style.css")
    body
        header 
            a.current(href="/") Home
            a(href="/html") HTML
            a(href="/css") CSS
            a(href="/js") JavaScript

        nav
            h3 HTML and CSS
            a(href="/html") Learn html
            a(href="/css") Learn css
            a(href="/js") Learn javascript

        article
            h1 This is a replica of w3
            p anything
            h2 HTML
            p anything #[a(href="/html") check it out!]
            h2 CSS
            p anything #[a(href="css") check it out!]
            h2 JavaScript
            p anything #[a(href="js") check it out!]

        footer &copy; 2020 This is fun!